# Package Files #
*.jar
*.war
*.ear
**/target
**/*generator-config.xml
**/*generator.xml
document.md
swagger.json


# IntelliJ project files
.idea
*.iml
out
gen
**/logs
**/log
*.log
**/node_modules
**/.idea


.buildpath
.project
.settings/
.DS_Store
/nbproject/private/
ub-data/
rebel.xml
/src/main/resources/rebel.xml
.classpath
